{% extends 'base.html.twig' %}

{% set global_score = 0 %}

{% block title %}Hello BeerController!{% endblock %}

{% block body %}
    <h1>{{ beer.name }}</h1>

    <div class="row">
        <h2><a href="{{ path('beers_by_country',{id:beer.country.id}) }}">{{ beer.country.name }}</a></h2>
    </div>

    <div class="col-6">
        <img src="{{ beer.photo }}" alt="" class="w-100">
    </div>

    <p><strong>Description</strong> : {{ beer.description }}</p>

    <h2>Statistiques :</h2>
    <div class="row">
        <div class="col-6">
            <h3>Notes :</h3>
            <ul>
                {% set score = 0 %}

                {% for statistic in beer.statistics %}
                    <li>{{ statistic.client.name }} : {{ statistic.score }} / 10. </li>
                    <p class="m-0">Cette personne a bu {{ statistic.quantity }} {{ beer.name }}.</p>
                    <p>{% if statistic.quantity < 5 %}C'est un nombre assez peu élevé, relativisons son avis !{% elseif statistic.quantity < 10 %}Cette bière semble l'accompagner depuis un moment... Vous pouvez considérer son avis !{% else %} {{ beer.name }} n'a plus aucun secret pour {{ statistic.client.name }}, vous pouvez vous fier à son avis !{% endif%}</p>
                    {% set score = score + statistic.score %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-6">

        </div>
    </div>
    <p>Note globale : {{ score / beer.statistics|length }} / 10 </p>
{% endblock %}
