<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Beers</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('home_country') }}">Country</a>
                </li>
                {% for category in categories %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('beers_by_category',{id:category.id}) }}">{{ category.name }}</a>
                    </li>
                {% endfor %}
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_logout') }}">Se deconnecter</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_login') }}">Se connecter</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>